/FakeProject/code/laya/p_yinyou/.laya
/FakeProject/code/laya/p_yinyou/temp
/FakeProject/code/laya/p_yinyou/release
/FakeProject/code/laya/p_yinyou/package-lock.json
/FakeProject/code/laya/p_yinyou/node_modules
/FakeProject/code/laya/p_yinyou/.vscode/chrome
