/FakeProject/code/laya/p_yinyou/.laya
/FakeProject/code/laya/p_yinyou/temp
/FakeProject/code/laya/p_yinyou/release
/FakeProject/code/laya/p_yinyou/package-lock.json
/FakeProject/code/laya/p_yinyou/node_modules
/FakeProject/code/laya/p_yinyou/.vscode/chrome
/FakeProject/code/laya/p_yinyou/others/publish/node_modules
/FakeProject/code/fgui/p_yinyou/.objs
/FGuiProject/p_ltgame/.objs
/FakeProject/code/laya/p_yinyou/inner_project/node_modules
