/FakeProject/code/laya/p_yinyou/.laya/chrome
/FakeProject/code/laya/p_yinyou/temp
/FakeProject/code/laya/p_yinyou/release
/FakeProject/code/laya/p_yinyou/package-lock.json
/FakeProject/code/laya/p_yinyou/node_modules
/FakeProject/code/laya/p_yinyou/.vscode/chrome
/FakeProject/code/laya/p_yinyou/others/publish/node_modules
/FakeProject/code/fgui/p_yinyou/.objs
/FGuiProject/p_ltgame/.objs
/FakeProject/code/laya/p_yinyou/inner_project/node_modules
/FakeProject/code/unity/p_yinyou/Library
/FakeProject/code/unity/p_yinyou/Logs
/FakeProject/code/unity/p_yinyou/Temp
/FakeProject/code/unity/p_yinyou/.vs
/FakeProject/code/unity/p_yinyou/*.csproj
/FakeProject/code/unity/p_yinyou/obj
/FakeProject/code/laya/p_yinyou/cdn
/FakeProject/code/laya/p_yinyou/others/publish/templates/_project/fgui/.objs
/FakeProject/code/laya/p_yinyou/others/publish/tools/quickgame/node_modules
